<div class="contact-content">
  <h1>Contact Us</h1>
  <p>Thank you for your interest in our website! We would love to hear from you. Please feel free to reach out to us using the contact information provided below:</p>
  <h2>Contact Details</h2>
  <ul>
    <li><strong>Email: </strong><a href="mailto:contact@wdwshiftx.com">contact@wdwshiftx.com</a></li>
    <li><strong>Address:</strong> Kissimmee, FL, 34746</li>
  </ul>
  <h2>Feedback and Suggestions</h2>
  <p>We greatly value your feedback and suggestions as they help us improve our website and better serve our users. If you have any ideas, comments, or suggestions for enhancements, please don't hesitate to get in touch with us.</p>
  <!-- <h2>Stay Connected</h2>
  <p>Connect with us on social media to stay updated on the latest news, features, and announcements:</p>
  <ul>
    <li><a href="https://www.facebook.com/website">Facebook</a></li>
    <li><a href="https://www.twitter.com/website">Twitter</a></li>
    <li><a href="https://www.instagram.com/website">Instagram</a></li>
  </ul> -->
  <p>We look forward to hearing from you and assisting you with any inquiries or concerns you may have. Thank you for your support!</p>
</div>
