<!-- HERO SECTION -->
<div class="hero-section">
  <div class="hero-section-text">
    <h1>Shift Exchange Made Easy</h1>
    <p>
      Find, Post, and Trade shifts that work for you. WDW ShiftX is a web
      application that allows Cast Members to find balance.
    </p>
    <div class="hero-section-CTA">
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
  <div class="hero-section-image">
    <img src="/assets/images/ShiftX-Cal.png" />
  </div>
</div>

<!-- PAIN SECTION -->
<div id="pain-section" class="pain-section">
  <div class="pain-section-image">
    <h3>[VIDEO Coming Soon...]</h3>
  </div>
  <div class="pain-section-text">
    <h2>Facebook Sucks!</h2>
    <h3 class="clr-secondary">Facebook was not designed for posting shifts.</h3>
    <p>
      Facebook was designed to connect people and facilitate social interactions
      by creating a platform where users can share updates, photos, and videos,
      engage with friends and family, join communities, and discover new content
      and experiences. That's nice and all, but not what you need.
    </p>
    <ul>
      <h3 class="clr-secondary">Ask yourself these questions:</h3>
      <li>Have you had to wait to join your area's Facebook group?</li>
      <li>Have you posted a shift only to have it buried by other posts?</li>
      <li>Have you had to repost/bump your shift because it was buried?</li>
      <li>
        Have you gone to find a shift, but found many old and out-of-date
        shifts?
      </li>
      <li>Have you had to scroll through irrelevant posts to find a shift?</li>
      <li>
        Have you had to call out because someone couldn't find your shift?
      </li>
    </ul>
    <h3 class="clr-accent">WDW ShiftX is the Answer</h3>
  </div>
</div>

<!-- BENEFITS SECTION -->
<div id="benefits-section" class="benefits-section">
  <h2>Benefits</h2>
  <div class="benefits">
    <div class="benefit">
      <div class="benefit-icon">
        <img src="/assets/images/Search-Icon-Reg.png" alt="Search Icon" />
      </div>
      <div class="benefit-title">
        <h3>Search</h3>
      </div>
      <div class="benefit-text">Filter And Find Shifts That Matter To You.</div>
    </div>
    <div class="benefit">
      <div class="benefit-icon">
        <img src="/assets/images/Cal-Icon-Reg.png" alt="Calendar Icon" />
      </div>
      <div class="benefit-title">
        <h3>Post</h3>
      </div>
      <div class="benefit-text">Add Shifts That Will Be Seen</div>
    </div>
    <div class="benefit">
      <div class="benefit-icon">
        <img src="/assets/images/Trade-Icon-Reg.png" alt="Connect Icon" />
      </div>
      <div class="benefit-title">
        <h3>Connect</h3>
      </div>
      <div class="benefit-text">
        Use Instant Messaging Tools To Reach Fellow Cast Members
      </div>
    </div>
  </div>
</div>

<!-- TESTIMONIALS SECTION -->
<div id="testimonials-section" class="testimonials-section">
  <h2>Testimonials</h2>
  <div class="testimonials">
    <!-- Testimonial 1 -->
    <div class="testimonial-card">
      <div class="testimonial-image">
        <img src="/assets/images/ShiftX-Cal.png" alt="Placeholder Image" />
      </div>
      <div class="testimonial-text">
        <p>
          "I was able to find a shift that worked for me in less than 5 minutes.
          I was able to trade my shift with another Cast Member and I didn't
          have to call out. I love this app!"
        </p>
        <div class="testimonial-name">- John Doe</div>
      </div>
    </div>

    <!-- Testimonial 2 -->
    <div class="testimonial-card">
      <div class="testimonial-image">
        <img src="/assets/images/ShiftX-Cal.png" alt="Placeholder Image" />
      </div>
      <div class="testimonial-text">
        <p>
          "I was able to find a shift that worked for me in less than 5 minutes.
          I was able to trade my shift with another Cast Member and I didn't
          have to call out. I love this app!"
        </p>
        <div class="testimonial-name">- John Doe</div>
      </div>
    </div>

    <!-- Testimonial 3 -->
    <div class="testimonial-card">
      <div class="testimonial-image">
        <img src="/assets/images/ShiftX-Cal.png" alt="Placeholder Image" />
      </div>
      <div class="testimonial-text">
        <p>
          "I was able to find a shift that worked for me in less than 5 minutes.
          I was able to trade my shift with another Cast Member and I didn't
          have to call out. I love this app!"
        </p>
        <div class="testimonial-name">- John Doe</div>
      </div>
    </div>

    <!-- Testimonial 4 -->
    <div class="testimonial-card">
      <div class="testimonial-image">
        <img src="/assets/images/ShiftX-Cal.png" alt="Placeholder Image" />
      </div>
      <div class="testimonial-text">
        <p>
          "I was able to find a shift that worked for me in less than 5 minutes.
          I was able to trade my shift with another Cast Member and I didn't
          have to call out. I love this app!"
        </p>
        <div class="testimonial-name">- John Doe</div>
      </div>
    </div>

    <!-- Testimonial 5 -->
    <div class="testimonial-card">
      <div class="testimonial-image">
        <img src="/assets/images/ShiftX-Cal.png" alt="Placeholder Image" />
      </div>
      <div class="testimonial-text">
        <p>
          "I was able to find a shift that worked for me in less than 5 minutes.
          I was able to trade my shift with another Cast Member and I didn't
          have to call out. I love this app!"
        </p>
        <div class="testimonial-name">- John Doe</div>
      </div>
    </div>
  </div>
  <div class="testimonial-empty">
      <p>
        As we are starting out, please email us with your experience to
        <a href="mailto:testimonials@wdwshiftx.com"
          >testimonials@wdwshiftx.com</a
        >
        and you could be featured here on our app. Please include a picture of
        yourself in your costume.
      </p>
    </div>
</div>

<!-- FEATURES SECTION -->
<div id="features-section" class="features-section">
  <h2>Features</h2>
  <!-- Feature 1 -->
  <div class="feature">
    <div class="feature-check">
      <img src="/assets/images/Star-Icon-YR.png" alt="star Icon" />
    </div>
    <div class="feature-title">Secure Login</div>
    <div class="feature-text">
      Cast Members can access the website with confidence knowing that their
      personal information and login credentials are protected through robust
      security measures.
    </div>
  </div>
  <!-- Feature 2 -->
  <div class="feature">
    <div class="feature-check">
      <img src="/assets/images/Star-Icon-YR.png" alt="star Icon" />
    </div>
    <div class="feature-title">Post Easily</div>
    <div class="feature-text">
      Cast Members can effortlessly create and publish posts regarding their
      available shifts, ensuring a seamless and user-friendly experience.
    </div>
  </div>
  <!-- Feature 3 -->
  <div class="feature">
    <div class="feature-check">
      <img src="/assets/images/Star-Icon-YR.png" alt="star Icon" />
    </div>
    <div class="feature-title">Discover Quickly</div>
    <div class="feature-text">
      Cast Members can swiftly find shifts that match their schedule and
      preferences, enabling them to efficiently manage their work commitments.
    </div>
  </div>
  <!-- Feature 4 -->
  <div class="feature">
    <div class="feature-check">
      <img src="/assets/images/Star-Icon-YR.png" alt="star Icon" />
    </div>
    <div class="feature-title">Notifications</div>
    <div class="feature-text">
      Cast Members receive real-time notifications regarding shift updates,
      trade requests, and other important information, ensuring they stay
      informed and up to date.
    </div>
  </div>
  <!-- Feature 5 -->
  <div class="feature">
    <div class="feature-check">
      <img src="/assets/images/Star-Icon-YR.png" alt="star Icon" />
    </div>
    <div class="feature-title">Messages</div>
    <div class="feature-text">
      Cast Members can communicate with each other through an integrated
      messaging system, facilitating smooth coordination and exchange of
      information.
    </div>
  </div>
  <!-- Feature 6 -->
  <div class="feature">
    <div class="feature-check">
      <img src="/assets/images/Star-Icon-YR.png" alt="star Icon" />
    </div>
    <div class="feature-title">Filter</div>
    <div class="feature-text">
      The website offers powerful filtering options, allowing Cast Members to
      narrow down shift listings based on various criteria such as date,
      location, or specific roles.
    </div>
  </div>
  <!-- Feature 7 -->
  <div class="feature">
    <div class="feature-check">
      <img src="/assets/images/Star-Icon-YR.png" alt="star Icon" />
    </div>
    <div class="feature-title">Auto-Delete</div>
    <div class="feature-text">
      The system automatically removes expired or outdated shift listings,
      ensuring that only current and relevant information is displayed,
      enhancing the accuracy and reliability of the available shifts.
    </div>
  </div>
  <!-- Feature 8 -->
  <div class="feature">
    <div class="feature-check">
      <img src="/assets/images/Star-Icon-YR.png" alt="star Icon" />
    </div>
    <div class="feature-title">Mobile-Friendly</div>
    <div class="feature-text">
      The website is designed to provide an optimal user experience on mobile
      devices, allowing Cast Members to conveniently access and use the platform
      from their smartphones or tablets.
    </div>
  </div>
</div>

<!-- FAQs SECTION -->
<div id="faq-section" class="faq-section">
  <h2>FAQs</h2>
  <!-- FAQ 1 -->
  <div class="faq">
    <div class="faq-icon"></div>
    <div class="faq-question"></div>
    <div class="faq-answer"></div>
  </div>
  <!-- FAQ 2 -->
  <div class="faq">
    <div class="faq-icon"></div>
    <div class="faq-question"></div>
    <div class="faq-answer"></div>
  </div>
  <!-- FAQ 3 -->
  <div class="faq">
    <div class="faq-icon"></div>
    <div class="faq-question"></div>
    <div class="faq-answer"></div>
  </div>
  <!-- FAQ 4 -->
  <div class="faq">
    <div class="faq-icon"></div>
    <div class="faq-question"></div>
    <div class="faq-answer"></div>
  </div>
  <!-- FAQ 5 -->
  <div class="faq">
    <div class="faq-icon"></div>
    <div class="faq-question"></div>
    <div class="faq-answer"></div>
  </div>
</div>

<!-- CALL TO ACTION SECTION -->
<div id="call-to-action-section" class="call-to-action-section">
  <h2>Get Started Today</h2>
  <p>
    <b>Sign up for free</b> and start posting, discovering, and trading shifts
    that work for you.
  </p>
  <a href="#" class="btn btn-primary">Get Started</a>
</div>
