<!-- HERO SECTION -->
<div class="hero-section">
  <div class="hero-section-text">
    <h1>Unlock Your Schedule Flexibility</h1>
    <p>
      Post, Discover, and Trade shifts that work for you. WDW ShiftX is a web
      application that allows Cast Members to find balance.
    </p>
    <div class="hero-section-CTA">
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
  <div class="hero-section-image">
    <img src="/assets/images/ShiftX-Cal.png" />
  </div>
</div>

<!-- PAIN SECTION -->
<div class="pain-section">
  <div class="pain-section-image"></div>
  <div class="pain-section-text">
    <h2>Facebook Sucks</h2>
    <h3>
      <b>Facebook was not designed for posting shifts. </b> More text about how
      this is not the case
    </h3>
    <p>
      <b>Agitate with examples</b> of when Facebook let you down and you
      couldn't give your shift away.
    </p>
    <p>
      <b>This is the solution</b> for everyone looking to get a schedule they
      want.
    </p>
  </div>
</div>

<!-- BENEFITS SECTION -->
<div class="benefits-section">
  <div class="benefit">
    <div class="benefit-icon">
      <img src="/assets/images/Cal-Icon-Reg.png" alt="Calendar Icon" />
    </div>
    <div class="benefit-title">Post</div>
    <div class="benefit-text"></div>
  </div>
  <div class="benefit">
    <div class="benefit-icon">
      <img src="/assets/images/Search-Icon-Reg.png" alt="Search Icon" />
    </div>
    <div class="benefit-title">Discover</div>
    <div class="benefit-text"></div>
  </div>
  <div class="benefit">
    <div class="benefit-icon">
      <img src="/assets/images/Trade-Icon-Reg.png" alt="Connect Icon" />
    </div>
    <div class="benefit-title">Connect</div>
    <div class="benefit-text"></div>
  </div>
</div>

<!-- TESTIMONIALS SECTION -->
<div class="testimonials-section">
  <h2>Testimonials</h2>
  <p>
    As we are starting out, please email us with your experience to
    <a href="mailto:testimonials@wdwshiftx.com">testimonials@wdwshiftx.com</a>
    and you could be featured here on our app. Please include a picture of
    yourself in your costume.
  </p>
</div>

<!-- FEATURES SECTION -->
<div class="features-section">
  <h2>Features</h2>
  <!-- Feature 1 -->
  <div class="feature">
    <div class="feature-check"></div>
    <div class="feature-title"></div>
    <div class="feature-text"></div>
  </div>
  <!-- Feature 2 -->
  <div class="feature">
    <div class="feature-check"></div>
    <div class="feature-title"></div>
    <div class="feature-text"></div>
  </div>
  <!-- Feature 3 -->
  <div class="feature">
    <div class="feature-check"></div>
    <div class="feature-title"></div>
    <div class="feature-text"></div>
  </div>
  <!-- Feature 4 -->
  <div class="feature">
    <div class="feature-check"></div>
    <div class="feature-title"></div>
    <div class="feature-text"></div>
  </div>
  <!-- Feature 5 -->
  <div class="feature">
    <div class="feature-check"></div>
    <div class="feature-title"></div>
    <div class="feature-text"></div>
  </div>
  <!-- Feature 6 -->
  <div class="feature">
    <div class="feature-check"></div>
    <div class="feature-title"></div>
    <div class="feature-text"></div>
  </div>
  <!-- Feature 7 -->
  <div class="feature">
    <div class="feature-check"></div>
    <div class="feature-title"></div>
    <div class="feature-text"></div>
  </div>
  <!-- Feature 8 -->
  <div class="feature">
    <div class="feature-check"></div>
    <div class="feature-title"></div>
    <div class="feature-text"></div>
  </div>
</div>

<!-- FAQs SECTION -->
<div class="faq-section">
  <h2>FAQs</h2>
  <!-- FAQ 1 -->
  <div class="faq">
    <div class="faq-icon"></div>
    <div class="faq-question"></div>
    <div class="faq-answer"></div>
  </div>
  <!-- FAQ 2 -->
  <div class="faq">
    <div class="faq-icon"></div>
    <div class="faq-question"></div>
    <div class="faq-answer"></div>
  </div>
  <!-- FAQ 3 -->
  <div class="faq">
    <div class="faq-icon"></div>
    <div class="faq-question"></div>
    <div class="faq-answer"></div>
  </div>
  <!-- FAQ 4 -->
  <div class="faq">
    <div class="faq-icon"></div>
    <div class="faq-question"></div>
    <div class="faq-answer"></div>
  </div>
  <!-- FAQ 5 -->
  <div class="faq">
    <div class="faq-icon"></div>
    <div class="faq-question"></div>
    <div class="faq-answer"></div>
  </div>
</div>

<!-- CALL TO ACTION SECTION -->
<div class="call-to-action-section">
  <h2>Get Started Today</h2>
  <p>
    <b>Sign up for free</b> and start posting, discovering, and trading shifts
    that work for you.
  </p>
  <a href="#" class="btn btn-primary">Get Started</a>
</div>
