<!-- HERO SECTION -->
<div class="hero-section">
  <div class="hero-section-text">
    <h1 class="font-accent">Unlock Your Schedule Flexibility</h1>
    <p>Post, Trade, and Discover Shifts that work for you. WDW ShiftX is a web application that allows Cast Members to find balance.</p>
    <a href="#" class="btn btn-primary">Get Started</a>
  </div>
  <div class="hero-section-image">
  </div>
</div>

<!-- PAIN SECTION -->
<div class="pain-section">
</div>

<!-- BENEFITS SECTION -->
<div class="benefits-section"></div>

<!-- TESTIMONIALS SECTION -->
<div class="testimonials-section"></div>

<!-- FEATURES SECTION -->
<div class="features-section"></div>

<!-- FAQ SECTION -->
<div class="faq-section"></div>

<!-- CALL TO ACTION SECTION -->
<div class="call-to-action-section"></div>
