header {
  background: var(--clr-primary-lighter);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  z-index: 100;
}

span {
  font-size: 3rem;
  font-style: italic;
  font-family: var(--ff-accent);
  color: var(--clr-primary);
}

.logo {
  display: flex;
  height: 2rem;
  align-items: center;
}

.logo-svg {
  height: 2rem;
}

nav {
  font-family: var(--ff-accent);
  font-size: 2rem;
  display: flex;
  align-items: center;
}

nav a {
  color: var(--clr-primary);
  text-decoration: none;
  font-weight: 400;
  padding: 1rem 1.5rem;
  height: 100%;
}

nav a:hover {
  color: var(--clr-text);
  background-color: var(--clr-accent);
}

footer {
  background: var(--clr-primary-light);
  color: var(--clr-text);
  padding: 1.5rem;
  text-align: center;
}
