/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --ff-primary: 'Lato', sans-serif;
  --ff-accent: 'Philosopher', sans-serif;
  --clr-primary-light: #F2E6FF;
  --clr-primary: #BD80FF;
  --clr-secondary: #DEBFFF;
  --clr-text: #2F2040;
  --clr-accent: #FFEA80;
  --clr-success: #9BE673;
  --clr-info: #80D5FF;
  --clr-warning: #FF808B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-primary {
  font-family: var(--ff-primary);
}

.font-accent {
  font-family: var(--ff-accent);
}

.clr-primary-light {
  color: var(--clr-primary-light);
}

.clr-primary {
  color: var(--clr-primary);
}

.clr-secondary {
  color: var(--clr-secondary);
}

.clr-text {
  color: var(--clr-text);
}

.clr-accent {
  color: var(--clr-accent);
}

body {
  color: var(--clr-text);
  font-family: var(--ff-primary);
}

main {
  min-height: calc(100vh - 8rem);
}

a {
  text-decoration: none;
  color: var(--clr-primary);
  font-weight: 700;
}

a:hover {
  text-decoration: underline var(--clr-text);
}

.btn {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--clr-primary);
  color: var(--clr-text);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: var(--clr-text);
  color: var(--clr-secondary);
  transform: scale(1.1);
  box-shadow: 0 0.5rem 1rem var(--clr-text);
}

