/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font-primary: 'Lato', sans-serif;
  --font-accent: 'Philosopher', sans-serif;
  --primary-color-lighter: #F2E6FF;
  --primary-color-light: #DEBFFF;
  --primary-color: #BD80FF;
  --primary-color-dark: #8E60BF;
  --primary-color-darker: #2F2040;
  --accent-color-lighter: #FFFBE6;
  --accent-color-light: #FFF4BF;
  --accent-color: #FFEA80;
  --accent-color-dark: #BFAF60;
  --accent-color-darker: #403B20;
  --success-color: #9BE673;
  --info-color: #80D5FF;
  --warning-color: #FF808B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-primary {
  font-family: var(--font-primary);
}

.font-accent {
  font-family: var(--font-accent);
}

body {
  color: var(--primary-color-darker);
  font-family: var(--font-primary);
}

header {
  background-color: var(--primary-color-lighter);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

main {
  min-height: calc(100vh - 8rem);
  padding: 1.5rem;
}

footer {
  background-color: var(--primary-color-lighter);
  color: var(--primary-color-darker);
  padding: 1.5rem;
  text-align: center;
}

